<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parking-list">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Parking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qrcode">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>QRCode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>