<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Name: {{user.uname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Password: {{user.password}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="showAlert()" color="warning">Alert</ion-button>
    <ion-button (click)="showToast()" color="danger">Toast</ion-button>
  </ion-item>
</ion-content>
